.errors There was an error processing your request

%h1#page-title J3RN's Minecraft Server

.action-form
  .onoffswitch
    %input#myonoffswitch.onoffswitch-checkbox{type: "checkbox", name: "onoffswitch", checked: @on}
    %label.onoffswitch-label{for: "myonoffswitch"}
      %span.onoffswitch-inner
        %span.onoffswitch-switch
