!!! html
%html
  %head
    %title J3RN's Minecraft Server
    %link{rel: 'stylesheet', href: 'css/reset.css'}
    %link{rel: 'stylesheet', href: 'css/main.css'}
    %link{rel: 'stylesheet', href: 'css/switch.css'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'}
    %script{src: 'js/main.js'}
  %body
    = yield
