html, body {
  font-family: sans-serif;
}

.errors {
  background: #FFAAAA;
  padding: 10px;
  text-align: center;
  color: #FFF;
}

#page-title {
  margin-top: 15px;
  font-size: 20px;
}

.action-form {
  padding: 10px;
}

#page-title, .action-form {
  text-align: center;
}
