---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4969'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"droplets":[],"links":{},"meta":{"total":0}}'
  recorded_at: Sun, 22 Oct 2017 04:15:34 GMT
- request:
    method: get
    uri: https://api.digitalocean.com/v2/floating_ips?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad1eb943ba6c23415eaef494978ad118"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4968'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"floating_ips":[{"ip":"12.34.56.78","droplet":null,"region":{"name":"New
        York 3","slug":"nyc3","sizes":["512mb","1gb","2gb","c-2","4gb","c-4","8gb","c-8","16gb","m-16gb","c-16","32gb","m-32gb","48gb","c-32","m-64gb","64gb","m-128gb","m-224gb"],"features":["private_networking","backups","ipv6","metadata","install_agent","storage"],"available":true},"locked":false}],"links":{},"meta":{"total":1}}'
  recorded_at: Sun, 22 Oct 2017 04:15:35 GMT
- request:
    method: get
    uri: https://api.digitalocean.com/v2/account/keys?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f54f2b86e46c2438dd56d60e749a4204"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4967'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"ssh_keys":[],"links":{},"meta":{"total":0}}'
  recorded_at: Sun, 22 Oct 2017 04:15:35 GMT
- request:
    method: get
    uri: https://api.digitalocean.com/v2/sizes?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4966'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"sizes":[{"slug":"512mb","memory":512,"vcpus":1,"disk":20,"transfer":1.0,"price_monthly":5.0,"price_hourly":0.00744,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo2","sgp1","tor1"],"available":true},{"slug":"1gb","memory":1024,"vcpus":1,"disk":30,"transfer":2.0,"price_monthly":10.0,"price_hourly":0.01488,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","sfo1","sfo2","sgp1","tor1"],"available":true},{"slug":"2gb","memory":2048,"vcpus":2,"disk":40,"transfer":3.0,"price_monthly":20.0,"price_hourly":0.02976,"regions":["ams2","ams3","blr1","fra1","lon1","nyc1","nyc2","nyc3","[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/images?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4965'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"id":28507610,"name":"1548.2.0 (beta)","distribution":"CoreOS","slug":"coreos-beta","public":true,"regions":["nyc1","sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","fra1","tor1","sfo2","blr1"],"created_at":"2017-10-12T20:21:30Z","min_disk_size":20,"type":"snapshot","size_gigabytes":0.38},{"id":13764801,"name":"Elixir
        on 14.04","distribution":"Ubuntu","slug":null,"public":true,"regions":["nyc1","sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","fra1","tor1","sfo2","blr1"],"created_at":"2015-09-30T15:42:07Z","min_disk_size":30,"type":"snapshot","size_gigabytes":1.85},{"id":14782899,"name":"6.7
        x32","distribution":"CentOS","slug":"centos-6-5-x32","public":true,"regions":["nyc1","sfo1","nyc2","ams2","sgp1","lon1","nyc3","ams3","fra1","tor1","sfo2","blr1"],"creat[...]
[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/images?page=6&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4960'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"id":12345678,"name":"My Image - 2015-11-09T00:34:46-0500","distribution":"Debian","slug":null,"public":false,"regions":["nyc3"],"created_at":"2015-11-09T05:34:47Z","min_disk_size":40,"type":"snapshot","size_gigabytes":1.83}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/images?page=1&per_page=20","prev":"https://api.digitalocean.com/v2/images?page=5&per_page=20","last":"https://api.digitalocean.com/v2/images?page=10&per_page=20","next":"https://api.digitalocean.com/v2/images?page=7&per_page=20"}},"meta":{"total":183}}'
  recorded_at: Sun, 22 Oct 2017 04:15:39 GMT
[...]
- request:
    method: get
    uri: https://api.digitalocean.com/v2/images?page=10&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6178ecf165cc6de5877b5719c521523d"
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Remaining:
      - '4956'
      Ratelimit-Reset:
      - '1508645312'
      X-Gateway:
      - Edge-Gateway
      X-Response-From:
      - service
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"id":12345678,"name":"My Image - 2015-11-09T00:34:46-0500","distribution":"Debian","slug":null,"public":false,"regions":["nyc3"],"created_at":"2015-11-09T05:34:47Z","min_disk_size":40,"type":"snapshot","size_gigabytes":1.83}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/images?page=1&per_page=20","prev":"https://api.digitalocean.com/v2/images?page=5&per_page=20","last":"https://api.digitalocean.com/v2/images?page=10&per_page=20","next":"https://api.digitalocean.com/v2/images?page=7&per_page=20"}},"meta":{"total":183}}'
  recorded_at: Sun, 22 Oct 2017 04:15:42 GMT
recorded_with: VCR 3.0.3
